absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.3.1
altgraph==0.17.3
async-timeout==4.0.2
attrs==22.1.0
bottle==0.12.23
bottle-websocket==0.2.9
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
coremltools==6.1
cx-Logging==3.1.0
docopt==0.6.2
Eel==0.15.0
Flask==2.2.2
frozenlist==1.3.3
fsspec==2022.11.0
future==0.18.2
gen-exe==0.2.1
gevent==22.10.2
gevent-websocket==0.10.1
google-auth==2.14.1
google-auth-oauthlib==0.7.1
greenlet==2.0.1
grpcio==1.50.0
idna==3.4
imageio==2.22.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.1
kraken==4.2.0
krakenex==2.1.0
licensespring==1.0.7
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
mpmath==1.2.1
multidict==6.0.2
networkx==2.8.8
numpy==1.23.5
oauthlib==3.2.2
packaging==21.3
pandas==1.5.2
pefile==2022.5.30
Pillow==9.3.0
pipreqs==0.4.11
protobuf==4.21.9
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.15.0
pyDeprecate==0.3.2
Pygments==2.13.0
pykrakenapi==0.3.1
pyparsing==3.0.9
pyrsistent==0.19.2
python-bidi==0.4.2
python-dateutil==2.8.2
pytorch-lightning==1.8.3.post0
pytz==2022.6
PyWavelets==1.4.1
pywin32==305
pywin32-ctypes==0.2.0
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rich==12.6.0
rsa==4.9
scikit-image==0.19.3
scipy==1.9.3
Shapely==1.8.5.post1
six==1.16.0
sympy==1.11.1
ta==0.10.2
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tifffile==2022.10.10
torch==1.13.0
torchmetrics==0.10.3
torchvision==0.14.0
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.13
Werkzeug==2.2.2
whichcraft==0.6.1
yarg==0.1.9
yarl==1.8.1
zope.event==4.5.0
zope.interface==5.5.2

scikit-learn==1.1.3